<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center">Benutzerprofil</h2>

      <br>

      <div class="card">
        <div class="card-header">
          Benutzerinformationen
        </div>
        <div class="card-body">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row" style="width: 30%;">Nutzer-ID</th>
                <td style="width: 70%;">{{ user.userId }}</td>
              </tr>
              <tr>
                <th scope="row" style="width: 30%;">Nutzername</th>
                <td style="width: 70%;">{{ user.username }}</td>
              </tr>
              <tr>
                <th scope="row" style="width: 30%;">E-Mail</th>
                <td style="width: 70%;">{{ user.email }}</td>
              </tr>
              <tr>
                <th scope="row" style="width: 30%;">Mitarbeiter-Nummer</th>
                <td style="width: 70%;">{{ user.employeeiD }}</td>
              </tr>
              <tr>
                <th scope="row" style="width: 30%;">Rolle</th>
                <td style="width: 70%;">{{ user.authorities.authority }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <br />

  <section id="change-password">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card text-begin">
          <div class="card-header">
            Passwort ändern
          </div>
          <div class="card-body">
            <form (ngSubmit)="changePassword()" [formGroup]="passwordForm" class="needs-validation" novalidate>
              <div class="mb-3">
                <label for="currentPassword" class="form-label">Aktuelles Passwort</label>
                <input type="password" id="currentPassword" class="form-control" placeholder="Geben Sie Ihr aktuelles Passwort ein" formControlName="currentPassword" required>
              </div>
              <div class="mb-3">
                <label for="newPassword" class="form-label">Neues Passwort</label>
                <input type="password" id="newPassword" class="form-control" placeholder="Geben Sie ein neues Passwort ein" formControlName="newPassword" required>
              </div>
              <div class="mb-3">
                <input type="password" id="confirmNewPassword" class="form-control" placeholder="Geben Sie das neue Passwort erneut ein" formControlName="confirmNewPassword" required>
              </div>
              <!-- Passwort-Mismatch-Meldung -->
              <div *ngIf="passwordForm.errors?.passwordMismatch && passwordForm.get('confirmNewPassword')?.touched" class="text-danger">
                Die Passwörter stimmen nicht überein.
              </div>
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success" [disabled]="passwordForm.invalid">Passwort ändern</button>
              </div>
            </form>

            <div *ngIf="errorMessage" class="alert alert-danger mt-3">
              {{ errorMessage }}
            </div>
            <div *ngIf="successMessage" class="alert alert-success mt-3">
              {{ successMessage }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
