.table{
    padding-top: 20px;
    padding-bottom: 20px;
}

.divWidth{
    margin: auto;
    width: 98%;
}

td{
    text-align: center;
    height: 5rem;
}

th{
    text-align: center;
}