<main>

<br>

<section id="speiseplan">
  <div class="divWidth">
    <h2>Speiseplan</h2>
  </div>  
</section>    

  <br>

  <section id="menu">
     <div class="card text-begin divWidth">
      <div class="card-header">
          Auswahl der Kalenderwoche
      </div>
      <div class="card-body d-flex justify-content-between align-items-center">
          <div class="col d-flex justify-content-center align-items-center">
              <p class="m-0 mr-3">Zeitraum der Kalenderwoche</p>
          </div>
          <nav aria-label="Page navigation example">
              <ul class="pagination m-0">
                  <li class="page-item">
                      <a class="page-link" (click)="lastWeek()" id="last-week">
                          <span aria-hidden="true">&laquo;</span>
                      </a>
                  </li>
                  <li class="page-item mx-2 d-flex align-items-center">
                      <p class="m-0">KW {{kw}}</p>
                  </li>
                  <li class="page-item">
                      <a class="page-link" (click)="nextWeek()" id="next-week">
                          <span aria-hidden="true">&raquo;</span>
                      </a>
                  </li>
              </ul>
          </nav>
      </div>
      <div class="table divWidth">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="align-middle"> </th>
                    <th class="align-middle">Montag</th>
                    <th class="align-middle">Dienstag</th>
                    <th class="align-middle">Mittwoch</th>
                    <th class="align-middle">Donnerstag</th>
                    <th class="align-middle">Freitag</th>
                    <th class="align-middle">Samstag</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="align-middle">Menü 1</th>
                    <td *ngFor="let day of weekDays" class="setMargin align-middle">
                        <span *ngFor="let dish of getDishes('Menü1', day)">
                            {{ dish.title }}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th class="align-middle">Menü 2</th>
                    <td *ngFor="let day of weekDays" class="align-middle">
                        <span *ngFor="let dish of getDishes('Menü2', day)">
                            {{ dish.title }}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th class="align-middle">Nachspeise</th>
                    <td *ngFor="let day of weekDays" class="align-middle">
                        <span *ngFor="let dish of getDishes('Dessert', day)">
                            {{ dish.title }}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th class="align-middle">Suppe</th>
                    <td *ngFor="let day of weekDays" class="align-middle">
                        <span *ngFor="let dish of getDishes('Soup', day)">
                            {{ dish.title }}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</section>

<br>

  <section id="notes">
    <div class="card text-center divWidth">
      <div class="card-header">
        Hinweise
      </div>
      <div class="card-body">
        <ul>Menü 2 ist auch als vegetarische Variante zu erhalten</ul>
        <ul>Samstags wird nur Menü 2 und Nachtisch angeboten</ul>
      </div>
    </div>
  </section>

<br>

</main>

