<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kantinerado</title>
</head>
<body>

<header>
  <h1>Kantinerado</h1>
  <nav>
    <ul>
      <!-- Weitere Seiten hier hinzufügen -->
    </ul>
  </nav>
  <a href="login.html" id="loginLink">Anmeldung</a>
</header>

<main>
<section id="Speiseplan">
    <h1>Speiseplan</h1>
</section>    

  <section id="week">
    <h2>KW 7 | 12.02.24 - 17.02.24</h2>
    <div id="week-selector">
      <button id="prev-week">Vorherige Woche</button>
      <button id="next-week">Nächste Woche</button>
    </div>
  </section>

  <section id="menu">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Montag</th>
          <th>Dienstag</th>
          <th>Mittwoch</th>
          <th>Donnerstag</th>
          <th>Freitag</th>
          <th>Samstag</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Menü 1</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Menü 2</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
            <th>Nachspeise</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Suppe</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
      </tbody>
    </table>
  </section>

  <section id="notes">
    <h2>Hinweise:</h2>
    <ul>Menü 2 ist auch als vegetarische Variante zu erhalten</ul>
    <ul>Samstags wird nur Menü 2 und Nachtisch angeboten</ul>
  </section>
</main>

<footer>
  <p>&copy; 2024 Kantinerado. Alle Rechte vorbehalten.</p>
</footer>

</body>
</html>

