HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### nix ###
/output

### angular ###

angular-frontend/dist
angular-frontend/tmp
angular-frontend/out-tsc
.angular
# Only exists if Bazel was run
angular-frontend/bazel-out

# Dependencies
angular-frontend/node_modules


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json<
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db
springboot-backend/src/main/resources/application.properties
