<main>
  <br />

  <section id="cart">
    <div class="divWidth">
      <h2>Warenkorb</h2>
    </div>
  </section>

  <br />

  <section id="checkout">
    <div class="card text-begin divWidth">
      <div class="card-header">Bestellübersicht</div>
      <div
        class="card-body d-flex justify-content-between align-items-center divWidth"
      >
        <div class="divWidth">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="badge bg-success rounded-pill">Anzahl Spiesen: 3</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0">Product name</h6>
                <small class="text-body-secondary">Brief description</small>
              </div>
              <span class="text-body-secondary">$12</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0">Second product</h6>
                <small class="text-body-secondary">Brief description</small>
              </div>
              <span class="text-body-secondary">$8</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0">Third item</h6>
                <small class="text-body-secondary">Brief description</small>
              </div>
              <span class="text-body-secondary">$5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Gesamtpreis</span>
              <strong>$20</strong>
            </li>
          </ul>
          <button class="w-100 btn btn-outline-success" type="submit">
            Bestellung abschließen
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
