<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Login
        </div>
        <div class="card-body">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter your username" [(ngModel)]="username" name="username" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter your password" [(ngModel)]="password" name="password" required>
            </div>
            <button (click)="login()" class="btn btn-primary">Login</button>
            <div *ngIf="loginError" class="text-danger mt-3">{{ loginError }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
