<main>
  <br />

  <section id="order">
    <div class="divWidth">
      <h2>Bestellung</h2>
    </div>
  </section>

  <br />

  <section id="week-selection">
    <div class="card text-begin divWidth">
      <div class="card-header">Auswahl der Kalenderwoche</div>
      <div class="card-body d-flex justify-content-between align-items-center divWidth">
        <div class="col-auto d-flex justify-content-center align-items-center">
          <h4 class="m-0 mr-3">
            {{ startDate | date : "dd.MM.yyyy" }} -
            {{ endDate | date : "dd.MM.yyyy" }}
          </h4>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination m-0">
            <li class="page-item">
              <a class="page-link" (click)="lastWeek()" id="last-week">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item mx-2 d-flex align-items-center">
              <h4 class="m-0">KW {{ kw }}</h4>
            </li>
            <li class="page-item">
              <a class="page-link" (click)="nextWeek()" id="next-week">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>

  <br>

  <section id="mealplan-order">
    <div class="accordion divWidth" id="accordion-mealplan-order">
      <!-- First collapsible item -->
      <div class="card">
        <div class="card-header" id="headingBreakfast">
          <h5 class="mb-0">
            <button class="btn btn-outline-dark" type="button" (click)="isBreakfastOpen = !isBreakfastOpen"
              aria-expanded="true" aria-controls="collapseBreakfast">
              <i class="fas" [ngClass]="{'fa-chevron-down': isBreakfastOpen, 'fa-chevron-right': !isBreakfastOpen}"></i>
              Frühstück
            </button>
          </h5>
        </div>
        <div id="collapseBreakfast" [ngClass]="{ 'collapse show': isBreakfastOpen, 'collapse': !isBreakfastOpen }"
          aria-labelledby="headingBreakfast" data-parent="#accordionExample">
          <div class="card-body">
            <div class="table divWidth">
              <table class="table table-bordered rounded" id="tableMealPlanBreakfast">
                <thead>
                  <tr>
                    <th class="align-middle"></th>
                    <th class="align-middle">Montag</th>
                    <th class="align-middle">Dienstag</th>
                    <th class="align-middle">Mittwoch</th>
                    <th class="align-middle">Donnerstag</th>
                    <th class="align-middle">Freitag</th>
                    <th class="align-middle">Samstag</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="align-middle">Frühstück 1</th>
                    <td *ngFor="let day of weekDays" class="setMargin align-middle">
                      <div>
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="checkBoxMenu1" />
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="align-middle">Frühstück 2</th>
                    <td *ngFor="let day of weekDays" class="align-middle">
                      <div>
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="checkBoxMenu1" />
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="align-middle">Frühstück 3</th>
                    <td *ngFor="let day of weekDays" class="align-middle">
                      <div>
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="checkBoxMenu1" />
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="align-middle">Frühstück 4</th>
                    <td *ngFor="let day of weekDays" class="align-middle">
                      <div>
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="checkBoxMenu1" />
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="d-flex justify-content-end divWidth">
              <button type="button" class="btn btn-outline-success" id="btnAddToCartBreakfast">
                Zum Warenkorb hinzufügen
              </button>
            </div>
          </div>
        </div>
      </div>

      <br>

      <!-- Second collapsible item -->
      <div class="card">
        <div class="card-header" id="headingLunch">
          <h5 class="mb-0">
            <button class="btn btn-outline-dark" type="button" (click)="isLunchOpen = !isLunchOpen"
              aria-expanded="true" aria-controls="collapseLunch">
              Mittagessen
            </button>
          </h5>
        </div>
        <div id="collapseLunch" [ngClass]="{ 'collapse show': isLunchOpen, 'collapse': !isLunchOpen }"
          aria-labelledby="headingLunch" data-parent="#accordionExample">
          <div class="card-body">
            <div class="table divWidth">
              <table class="table table-bordered rounded" id="tableMealPlanLunch">
                <thead>
                  <tr>
                    <th class="align-middle"></th>
                    <th class="align-middle"><a class="text-decoration-none" href="/detailview/{{kw}}/1">Montag</a></th>
                    <th class="align-middle"><a class="text-decoration-none" href="/detailview/{{kw}}/2">Dienstag</a></th>
                    <th class="align-middle"><a class="text-decoration-none" href="/detailview/{{kw}}/3">Mittwoch</a></th>
                    <th class="align-middle"><a class="text-decoration-none" href="/detailview/{{kw}}/4">Donnerstag</a></th>
                    <th class="align-middle"><a class="text-decoration-none" href="/detailview/{{kw}}/5">Freitag</a></th>
                    <th class="align-middle"><a class="text-decoration-none" href="/detailview/{{kw}}/6">Samstag</a></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="align-middle">Menü 1</th>
                    <td *ngFor="let day of weekDays" class="setMargin align-middle">
                      <span *ngFor="let dish of getDishes('Menü1', day)">
                        <div [ngClass]="setSelectionType(dish, day)">
                          {{ dish.title }}
                        </div>
                        <div>
                          <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="checkBoxMenu1" [checked]="checkIfOrdered(dish, day)" [disabled]="!isKWValid(kw)" (change)="checkboxChanged($event, dish, day)"/>
                        </div>                   
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <th class="align-middle">Menü 2</th>
                    <td *ngFor="let day of weekDays" class="align-middle">
                      <span *ngFor="let dish of getDishes('Menü2', day)">
                        <div [ngClass]="setSelectionType(dish, day)">
                          {{ dish.title }}
                        </div>
                        <div>
                          <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="checkBoxMenu2" [checked]="checkIfOrdered(dish, day)" [disabled]="!isKWValid(kw)" (change)="checkboxChanged($event, dish, day)"/>
                        </div>
                        <!-- <div class="form-check form-switch d-flex justify-content-center align-items-center">
                          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckMenu2Veggie">
                          <label class="form-check-label" for="flexSwitchCheckMenu2Veggie">Vegetarisch</label>
                        </div>   -->
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <th class="align-middle">Nachspeise</th>
                    <td *ngFor="let day of weekDays" class="align-middle">
                      <span *ngFor="let dish of getDishes('Dessert', day)">
                        <div [ngClass]="setSelectionType(dish, day)">
                          {{ dish.title }}
                        </div>
                        <div>
                          <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="checkBoxDessert" [checked]="checkIfOrdered(dish, day)" [disabled]="!isKWValid(kw)" (change)="checkboxChanged($event, dish, day)"/>
                        </div>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <th class="align-middle">Suppe</th>
                    <td *ngFor="let day of weekDays" class="align-middle">
                      <span *ngFor="let dish of getDishes('Soup', day)">
                        <div [ngClass]="setSelectionType(dish, day)">
                          {{ dish.title }}
                        </div>
                        <div>
                          <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="checkBoxSoup" [checked]="checkIfOrdered(dish, day)" [disabled]="!isKWValid(kw)" (change)="checkboxChanged($event, dish, day)"/>
                        </div>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="d-flex justify-content-end divWidth">
              <button type="button" (click)="addToCart()" class="btn btn-outline-success" id="btnAddToCartLunch" >
                Zum Warenkorb hinzufügen
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <br />

  <section id="prices">
    <div class="card text-begin divWidth">
      <div class="card-header">Täglicher Gesamtpreis</div>
      <div class="card-body">
        <div class="table divWidth">
          <table class="table table-bordered rounded" id="tableMealPlanBreakfast">
            <thead>
              <tr>
                <th class="align-middle"></th>
                <th class="align-middle">Montag</th>
                <th class="align-middle">Dienstag</th>
                <th class="align-middle">Mittwoch</th>
                <th class="align-middle">Donnerstag</th>
                <th class="align-middle">Freitag</th>
                <th class="align-middle">Samstag</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="align-middle">Gesamtpreis</th>
                <td *ngFor="let day of weekDays" class="setMargin align-middle">
                  <div>
                    {{ calculateTotalPricePerDay(day) }} €
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <br />

  <section id="notes">
    <div class="card text-center divWidth">
      <div class="card-header">Hinweise</div>
      <div class="card-body">
        <ul>
          Menü 2 ist auch als vegetarische Variante zu erhalten
        </ul>
        <ul>
          Samstags wird nur Menü 2 und Nachtisch angeboten
        </ul>
      </div>
    </div>
  </section>

  <br />
</main>