.divWidth {
  margin: auto;
  width: 98%;
}

td {
  text-align: center;
  height: 5rem;
  width: calc(100% / 7);
}

th {
  text-align: center;
  width: calc(100% / 7);
}

td {
  text-align: center;
  height: 5rem;
  width: calc(100% / 7);
}

#tableMealPlanBreakfast td { 
  text-align: center;
  height: 2rem;
  width: calc(100% / 7);
}

.form-check-input {
  width: 30px;
  height: 20px;
  border-color: lightslategray;
}

.form-check-input:checked {
  background-color: lightgray;
  opacity: 50%;
}

.text-decoration-none {
  color: black;
}

.blue-text {
  color: blue;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

.black-text {
  color: black;
}
